/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 25, 2020, 9:18:20 PM
    Author     : Murad Computer
*/

body {
    background-image: url(../img/homebg.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Arimo', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
}

a{
	text-decoration:none;
}
#main{
	padding:30px 50px;
	position:relative;
	width:100%;
	height: 100vh;
	box-sizing: border-box;
	background-size: 1330px;
	background-position: right bottom;
	background-repeat: no-repeat;
        background-image: url(../img/homebg.png);
	background-color: #edf1fd;
}
/*Main Logo */
nav{
	display:flex;
	justify-content: space-between;
	align-items: center;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 5px;
	font-family: calibri;
	position: fixed;
	top: 0;
	left: 0;
	width:100%;
	box-sizing: border-box;
	padding: 10px 50px;
	background-color:#F4F7FF;
	box-shadow:2px 2px 12px rgba(0,0,0,0.05); 
	z-index: 1;
}


.lang{
	color:#292929;
}
.logo{
	font-size: 28px;
	font-weight: bold;
	color:#292929;
	font-family:Verdana;
}
.toggle{
	display: none;
}
/*Only starting name and buttons css */
.name{
	font-family: calibri;
	width: 500px;
	position: absolute;
	left: 11%;  /*right = maximum percentage or left = minimum percentage */
	top: 25%;
	transform: translate(-20%,-50%);
}
.name h2{
	font-family:Verdana;
	font-size: 35px;
	margin:0px;
	letter-spacing: 3px;
	color:#292929;
}
.name h1{
	font-family:Verdana;
	font-size: 70px;
	margin:0px;
	letter-spacing: 3px;
	color:#292929;
}


.cv-btn{
	width:200px;
	height: 45px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #17d1ac;
	color:#FFFFFF;
	padding: 2px 35px;
	margin: 30px 1px;
}
.cv-btn:hover{
	background-color: #292929;
	transition: all ease 0.5s;
}


.box,
.regbox{    /*complete delete box adjustment */ 
    width: 850px;
    height: 350px;
    background: #2f3542;
    margin: 0;
    padding: 30px 30px;
    top: 170%;  /*up down adjustment */ 
    left: 90%;  /*left right adjustment */ 
    color: #fff;
    border-radius: 25px;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
}

.avatar {
    margin: 0;
    padding: 0;
    width: 160px;
    height: 140px;
    top: -22%;
    position: absolute;
    left: calc(50% - 75px);
    border-radius: 50%;
}

.box input {    /* submit button setting */
    width: 100%;
    margin-bottom: 50px; /* up down */
    border-radius: 10px;
}

.box input[type="text"],
.box input[type="password"] {
    border: none;
    background: transparent;
    border-bottom: 1px solid #fff;
    outline: none;
    height: 35px;
    color: #fff;
    font-size: 15px;
}

.box input[type="submit"] {
    display: block;
    border: none;
    outline: none;
    height: 30px;
    background: #17d1ac;
    color: #000;
    font-size: 20px;
    border-radius: 20px;
}

.box input[type="submit"]:hover {
    border: none;
    outline: none;
    height: 35px;
    background: #292929;
    color: #fff;
    font-size: 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: .3s ease-out;
}